.genreContainer{

}

.bannersection{
     position: relative; 
    /* position: absolute;  */
    /* top: 50%;
    right: 50%; */
    color: white;
    max-width: 100vw;
}

.bannerText{
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 50px;
}

.cardDivMain{
    /* width: 75%; */
    
}

.cardBtn{
    border-radius: 6px;
    background-color: #21D445;
    color: white;
    /* padding: 5px; */
    letter-spacing: 3px;
}

.cardStrikeThroughPrice{
    color: #7A0A0A;
    text-decoration: line-through;
}

.cardPrice{
    color: #21D445;    
}

.cardDetails{
    width: fit-content;
    padding: 50px;
}

.cardImgStyle{
    height: 250px !important;
    max-width: 100%;
}

.cardName{
    width: 300px;
}
.cardImgDiv{
    max-width: 100vw ;
}